* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    position: fixed;
    background: black;
    padding:20px 15px 20px 15px;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

li a{
    color: brown;
    font-size:20px;
    font-style: oblique;
}

#Myphoto{
    width: 400px;
    display: inline-block;
    padding: 25px 50px;
    margin-top: 50px
    ;
}

#nkar {
    display: inline;
    float: right;
    padding: 200px 250px;
    font-style: oblique;
    color: brown;
    font-size: large;
}

#About {
    width: 500px;
    margin: 0% auto;
    font-size:30px;
    display:flex;
    text-align:center;
    color: brown;
    flex-direction: column;
    padding-bottom: 100px;
    font-style: oblique;
}

#Skils {
    width: 500px;
    margin: 0% auto;
    font-size:30px;
    display:flex;
    text-align:center;
    color: brown;
    flex-direction: column;
    padding: 200px;
    font-style: oblique;
   
}
  
#Contact {
    color: brown;
    font-style: oblique;
    padding-top: 15px;
    display: block;
}

#Icons {
    display: flex;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50px;
  }
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50px;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 50px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 50px;
  }

  footer{
    background: black;
    width: 100%;
    min-height: 400px;

}

footer li {
  padding-left: 200px;
}

.year{
    font-family: 'Patua One', cursive;
    font-size:22px;
}
.fa-heart{
    color: rgb(250, 8, 8);
    margin: 0 3px;
    font-size: 30px;
    animation: pound .35s infinite alternate;
    -webkit-animation: pound .35s infinite alternate;
}

#footer_menu {
  display: flex;
  list-style-type: none;
justify-content: space-evenly;

border-top-style:solid ;
border-top-color: brown;
border-top-width:2px;
border-bottom: solid brown 2px;
padding: 10px 5px;
}

footer ul li a {
  text-decoration: none;
  font-size: 25px;
}

#footer__links {
  height: 100%;
  display: flex;
justify-content: center;
  align-items: center;

}

#socials i {
  font-size: 50px;
  padding-left: ;
}

#socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
  
}

#socials div {
  width: 900px;
  display: flex;
  justify-content: space-between;
}


@media only screen and (max width: 600px) {
}